.textColorGreen{
    color:#35aa47;
}
.textColorOrage{
    color:#e67000;
}
.textColorRed{
    color:#f82100;
}

.fontBold{
    font-weight: bold;
}

.borderColorGreen{
    border-color:#35aa47;
}

.marginBottom5px{
    margin-bottom: 5px;
}
.marginBottom15px{
    margin-bottom: 15px;
}

.marginBottom20px{
    margin-bottom: 20px;
}
.marginBottom25px{
    margin-bottom: 25px;
}
/*form*/
label.fontBold{
    font-weight: bold;
}

.btnblack{
    background: rgba(196, 196, 196, 0.15);
    color: #000000;
}
/*button export*/
.btnExportExcel a{
    font-weight: bold;
    text-align: center;
    display: inline-block;
    transition: all .3s;
}
.btnExportExcel a i{
    font-size: 30px;
    display: block;
}
.btnExportExcel a:hover{
    color:#35aa47;
}
#tblMailList0 th .input-group{
    float: none;
    min-width: 50px;
}
.dataTables_scrollHeadInner {
    width: 100% !important;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    max-width: 500px;
    min-width: 70px;
    white-space: nowrap; 
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}