.textColorGreen{
    color:#35aa47;
}
.textColorOrage{
    color:#e67000;
}
.textColorRed{
    color:#f82100;
}

.fontBold{
    font-weight: bold;
}

.borderColorGreen{
    border-color:#35aa47;
}

.marginBottom5px{
    margin-bottom: 5px;
}
.marginBottom15px{
    margin-bottom: 15px;
}

.marginBottom20px{
    margin-bottom: 20px;
}
.marginBottom25px{
    margin-bottom: 25px;
}
/*form*/
label.fontBold{
    font-weight: bold;
}
/*button export*/
.btnExportExcel a{
    font-weight: bold;
    text-align: center;
    display: inline-block;
    transition: all .3s;
}
.btnExportExcel a i{
    font-size: 30px;
    display: block;
}
.btnExportExcel a:hover{
    color:#35aa47;
}

/*button toggle*/

.btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
}
.btn-toggle:focus, .btn-toggle:focus.active, .btn-toggle.focus, .btn-toggle.focus.active {
    outline: none;
}
.btn-toggle:before, .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
}
.btn-toggle:before {
    content: 'Off';
    left: -4rem;
}
.btn-toggle:after {
    content: 'Active';
    right: -4rem;
    opacity: .5;
}
.btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
}
.btn-toggle.active {
    transition: background-color .25s;
}
.btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left .25s;
}
.btn-toggle.active:before {
    opacity: .5;
}
.btn-toggle.active:after {
    opacity: 1;
}
.btn-toggle.btn-sm:before, .btn-toggle.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: .75px;
    left: 0.4125rem;
    width: 2.325rem;
}
.btn-toggle.btn-sm:before {
    text-align: right;
}
.btn-toggle.btn-sm:after {
    text-align: left;
    opacity: 0;
}
.btn-toggle.btn-sm.active:before {
    opacity: 0;
}
.btn-toggle.btn-sm.active:after {
    opacity: 1;
}
.btn-toggle.btn-xs:before, .btn-toggle.btn-xs:after {
    display: none;
}
.btn-toggle:before, .btn-toggle:after {
    color: #6b7381;
}
.btn-toggle.active {
    background-color: #29b5a8;
}
.btn-toggle.btn-sm {
    margin: 0 .5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 2rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-toggle.btn-sm:focus, .btn-toggle.btn-sm:focus.active, .btn-toggle.btn-sm.focus, .btn-toggle.btn-sm.focus.active {
    outline: none;
}
.btn-toggle.btn-sm:before, .btn-toggle.btn-sm:after {
    line-height: 1.5rem;
    width: .5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 2px;
    transition: opacity .25s;
}
.btn-toggle.btn-sm:before {
    content: 'Inactive';
    left: 2rem !important;
}
.btn-toggle.btn-sm:after {
    content: 'Active';
    right: -0.5rem;
    opacity: .5;
}
.btn-toggle.btn-sm > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
}
.btn-toggle.btn-sm.active {
    transition: background-color .25s;
}
.btn-toggle.btn-sm.active > .handle {
    left: 6rem;
    transition: left .25s;
}
.btn-toggle.btn-sm.active:before {
    opacity: .5;
}
.btn-toggle.btn-sm.active:after {
    opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before, .btn-toggle.btn-sm.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: .75px;
    left: 1rem;
    width: 3.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
    text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
    text-align: left;
    opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
    opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
    opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before, .btn-toggle.btn-sm.btn-xs:after {
    display: none;
}
.bootstrap-tagsinput{
    width: 100%;
}
.btn-group, .btn-group-vertical {
    position: absolute;
}

#addProduct {
    background: #E5EFFF;
    border-radius: 4px;
    color: #367BF5;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.75px;
}
 input {
    border: 1px solid #E3E5E6;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    padding: 5px 10px !important;
    height: auto;
}
.btnInline {
    margin: 0px 3px;
    padding: 3px 6px;
}
.btn-group-action .dropdown-toggle{
    box-shadow: unset;
}
.btn-group-action .dropdown-menu{
    min-width: 80px;
    z-index: 2;
    position: relative;
}

.dropdown-menu {
    position: absolute !important;
}
.btn-group-action .dropdown-menu a {
    display: block;
    padding: 5px 10px;
    border:none;
    background: none;
}
.btn-group-action {
    position: absolute !important;
    margin-top: -10px;
}
.btnInlineSave {
    background: #FFFFFF;
    border: 1px solid #4CAF50;
    box-sizing: border-box;
    border-radius: 4px;
    color: #4CAF50;
}

.btnInlineCancel {
    color: #F7685B;
    background: #FFFFFF;
    border: 1px solid #F7685B;
    box-sizing: border-box;
    border-radius: 4px;
}
